   *,
   *::after,
   *::before {
       box-sizing: border-box;
   }
   
   //пишем директиву для шрифтов предварительно создав папку
   @font-face {
       font-family: 'balqis';
       src: url('../../fonts/balqis.woff2') format('woff2'), url('../../fonts/balqis.woff') format('woff'); //первым пиештся воф 2
       font-weight: 300;
       font-style: normal;
       font-display: swap;
   }
   
   //подключаем еще 3
   @font-face {
       font-family: 'RobotoCondensed-Light';
       src: url('../../fonts/RobotoCondensed-Light.woff2') format('woff2'), url('../../fonts/RobotoCondensed-Light.woff') format('woff'); //первым пиештся воф 2
       font-weight: 300;
       font-style: normal;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'RobotoCondensed-LightItalic';
       src: url('../../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'), url('../../fonts/RobotoCondensed-LightItalic.woff') format('woff'); //первым пиештся воф 2
       font-weight: 300;
       font-style: italic;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'RobotoCondensed-Regular';
       src: url('../../fonts/RobotoCondensed-Regular.woff2') format('woff2'), url('../../fonts/RobotoCondensed-Regular.woff ') format('woff'); //первым пиештся воф 2
       font-weight: 300;
       font-style: normal;
       font-display: swap;
   }
   
   html {
       overflow-x: hidden;
   }
   
   body {
       color: #000;
       overflow-x: hidden;
       overflow-y: scroll;
   }
   
   a {
       color: inherit;
       text-decoration: none; //убираем подчеркивание
   }
   
   .container {
       max-width: 1320px; //макс для адапатации
       margin: 0 auto; //отталкиваем контейнер от центра марджинами
       padding: 0 15px;
   }
   
   .page-section {
       margin: 200px auto;
       //чтобы слайдер не прилипал влево
       max-width: 1920px;
   }
   
   .header {
       background-image: url(../images/fon.jpg);
       background-size: cover;
       height: 100vh; //ставим для того чтобы бло по ширине окна так как хедер маленький
       background-repeat: no-repeat; //чтобы не повторялось
       background-position: bottom center; //какие части нужны  картинк
       max-width: 100%;
   }
   
   .header__top {
       display: flex;
       justify-content: space-between; // разкидать в разные стороны
       padding-top: 72px;
       font-size: 24px;
       line-height: 28px;
       font-family: 'RobotoCondensed-Regular';
   }
   
   .menu__list-item {
       display: inline-block; //блочные элементы деламе строчными
   }
   
   .menu__list-item+.menu__list-item {
       margin-left: 52px; //делаем марджины со второго пропуская первый
   }
   
   //делаем подчеркивание первого меню
   .menu__list-link:hover {
       text-decoration: underline;
   }
   
   //резервируем падднг для значка телефон, с макета взяли размер 30 его и плбс между ними 10
   .header__phone {
       padding-left: 40px;
       position: relative; //делаем его родителем
   }
   
   //делаем сам значок телефона
   .header__phone::before {
       content: "";
       position: absolute;
       background-image: url(../images/phone.svg); //не появится пока не задать высоту и ширину так как формат свг
       width: 30px;
       height: 30px;
       left: 0;
   }
   
   .header__title {
       padding-top: 152px;
       text-align: center;
       font-size: 250px;
       line-height: 334px;
       font-family: 'balqis';
       font-weight: 300;
       margin: 0;
   }
   
   .header__title span {
       font-size: 56px;
       display: block;
       text-align: right;
       line-height: 66px;
       font-family: 'RobotoCondensed-LightItalic';
       margin-top: -66px;
       margin-right: 85px;
   }