.price__inner {
    display: flex;
}

.price__on-title,
.price__off-title {
    line-height: 28px;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: 'RobotoCondensed-Regular';
}

.price__on {
    margin-right: 70px;
    max-width: 530px;
}

.price__list-item {
    //все настройки  с бади
    margin-bottom: 20px;
}

.price {
    background-image: url(../images/baloons.png);
    background-repeat: no-repeat;
    background-position: center right;
}